<% if @product.errors.any? %>
  <p class="alert alert-error">Ooops!</p>
  <ul>
    <% @product.errors.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
  </ul> 
<% end %>


<%= simple_form_for @product, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :avatar, as: :file %>
  <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" } %>
  <div id="subcategories_select">
    <%= f.collection_select :subcategory_id, Subcategory.all, :id, :name, { prompt: "Choose a subcategory" } %>
  </div>
  <%= f.button :submit %>
<% end %>