<% if @product.errors.any? %>
  <p class="alert alert-error">Ooops!</p>
  <ul>
    <% @product.errors.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
  </ul> 
<% end %>


<%= simple_form_for @product, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :avatar, as: :file %>
  <%= f.button :submit %>
<% end %>