<% provide(:title, "Filtering") %>

<%= render 'filter_form' %>

<h4>Filtering mniams (<%= @products.count %>)</h4>
<hr>
<% @products.each do |f| %>
  <%= f.title %>
  <%= link_to "Show", f, class: "btn btn-default" %>
  <br>
<% end %>
<hr>
<%= link_to "Back", root_path, class: "btn btn-default" %>
