<% provide(:title, "Index") %>

<h1>Products list</h1>

<% @products.each do |f| %>
  <%= link_to f.title, f %>
  <br>
<% end %>

<br>
<%= will_paginate @products %>
<hr>

<%= link_to "New", new_product_path %>

<hr>

<%= link_to "News", news_path %>
<%= link_to "About", about_path %>
<%= link_to "FAQ", faq_path %>