<% provide(:title, "Index") %>

<h1>Products list</h1>

<h3>Sorted</h3>
<%= link_to "Created DESC", sort_path("DESC") %>
<br>
<%= link_to "Created ASC", sort_path("ASC") %>
<br>
<%= link_to "From smallest price", sort_path("small") %>
<br>
<%= link_to "From biggest price", sort_path("big") %>
<br>
<%= link_to "Top", sort_path("top") %>
<hr>

<% @products.each do |f| %>
  <%= link_to f.title, f %>
  <br>
<% end %>

<br>
<%= will_paginate @products %>
<hr>

<%= link_to "New", new_product_path %>
<%= link_to "New Category", new_category_path %>
<%= link_to "New Subcategory", new_subcategory_path %>

<hr>

<%= link_to "News", news_path %>
<%= link_to "About", about_path %>
<%= link_to "FAQ", faq_path %>