<% provide(:title, "#{@product.title}") %>

<h1>Product: <%= @product.title %></h1>
<p><%= @product.description %></p>
<p><%= print_price(@product.price) %></p>
<%= image_tag @product.avatar.url(:medium) %>
<br>
<p>Viewed: <%= @product.impressionist_count(:filter=>:ip_address) %> </p>
<hr>
<%= link_to "Back", products_path %>
<%= link_to "Edit", edit_product_path(@product) %>
<%= link_to "Delete", product_path, method: :delete, data: {confirm: "Are You Sure?"} %>
