<!DOCTYPE html>
<html>
<head>
  <title><%= set_title_of_page(yield(:title)) %></title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="alert">
    <div class="col-md-10 col-md-offset-1">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <%end%>
    </div>
  </div>  

  <%= yield %>

</body>
</html>
